for isofile in $isopath/Rocky-*.iso; do
  if [ -e "$isofile" ]; then
    regexp --set=isoname "$isopath/(.*)" "$isofile"
    # Skip if it's a LiveCD
    if regexp "Workstation|KDE" "$isofile"; then continue; fi
    submenu "$isoname ->" "$isofile" {
      iso_path="$2"
      _loopback loop "$iso_path"
      menuentry "Install Rocky Linux" {
        bootoptions="inst.stage2=hd:UUID=$rootuuid:$iso_path iso-scan/filename=$iso_path quiet"
        linux (loop)/images/pxeboot/vmlinuz $bootoptions
        initrd (loop)/images/pxeboot/initrd.img
      }
      menuentry "Test this media & install Rocky Linux" {
        bootoptions="inst.stage2=hd:UUID=$rootuuid:$iso_path iso-scan/filename=$iso_path rd.live.check quiet"
        linux (loop)/images/pxeboot/vmlinuz $bootoptions
        initrd (loop)/images/pxeboot/initrd.img
      }
      menuentry "Install Rocky Linux in FIPS mode" {
        bootoptions="inst.stage2=hd:UUID=$rootuuid:$iso_path iso-scan/filename=$iso_path fips=1 quiet"
        linux (loop)/images/pxeboot/vmlinuz $bootoptions
        initrd (loop)/images/pxeboot/initrd.img
      }
      menuentry "Install Rocky Linux in basic graphics mode" {
        bootoptions="inst.stage2=hd:UUID=$rootuuid:$iso_path iso-scan/filename=$iso_path nomodeset quiet"
        linux (loop)/images/pxeboot/vmlinuz $bootoptions
        initrd (loop)/images/pxeboot/initrd.img
      }
      menuentry "Rescue a Rocky Linux system" {
        bootoptions="inst.stage2=hd:UUID=$rootuuid:$iso_path iso-scan/filename=$iso_path inst.rescue quiet"
        linux (loop)/images/pxeboot/vmlinuz $bootoptions
        initrd (loop)/images/pxeboot/initrd.img
      }
    }
  fi
done
